body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:335px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u12 {
  position:absolute;
  left:28px;
  top:212px;
  width:280px;
  height:50px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u13 {
  position:absolute;
  left:20px;
  top:17px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15 {
  position:absolute;
  left:79px;
  top:213px;
  width:229px;
  height:48px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:48px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16 {
  position:absolute;
  left:221px;
  top:227px;
  width:20px;
  height:20px;
  opacity:0.8;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:72px;
  color:#1ABC9C;
  line-height:24px;
}
#u18 {
  position:absolute;
  left:0px;
  top:55px;
  width:335px;
  height:80px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:72px;
  color:#1ABC9C;
  line-height:24px;
}
#u19 {
  position:absolute;
  left:0px;
  top:28px;
  width:335px;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:409;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u20 {
  position:absolute;
  left:28px;
  top:163px;
  width:280px;
  height:50px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:409;
  font-style:normal;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u21 {
  position:absolute;
  left:20px;
  top:17px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:right;
  line-height:20px;
}
#u22 {
  position:absolute;
  left:28px;
  top:261px;
  width:287px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:right;
  line-height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:15px;
  width:287px;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u24 {
  position:absolute;
  left:40px;
  top:227px;
  width:20px;
  height:20px;
  opacity:0.3;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u26 {
  position:absolute;
  left:39px;
  top:178px;
  width:20px;
  height:20px;
  opacity:0.3;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u28 {
  position:absolute;
  left:305px;
  top:9px;
  width:30px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:168px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u30 {
  position:absolute;
  left:28px;
  top:321px;
  width:280px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u30_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:45px;
  background:inherit;
  background-color:rgba(22, 160, 133, 1);
  border:none;
  border-radius:168px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u30.mouseDown {
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:276px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u32 {
  position:absolute;
  left:121px;
  top:334px;
  width:20px;
  height:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:248px;
  top:226px;
}
#u34_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
}
#u35_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u35_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u36_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u36.selected {
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:48px;
  word-wrap:break-word;
}
#u35_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u35_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u39 {
  position:absolute;
  left:10px;
  top:5px;
  width:48px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u40 {
  position:absolute;
  left:3px;
  top:2px;
  width:20px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43 {
  position:absolute;
  left:79px;
  top:164px;
  width:229px;
  height:48px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:48px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u44 {
  position:absolute;
  left:279px;
  top:178px;
  width:20px;
  height:20px;
  opacity:0.8;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:fixed;
  left:50%;
  margin-left:-100px;
  top:50%;
  margin-top:-25.5px;
  visibility:hidden;
}
#u46_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u46_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:210px;
  height:61px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u48 {
  position:absolute;
  left:15px;
  top:16px;
  width:170px;
  word-wrap:break-word;
}
#u46_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u46_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:228px;
  height:61px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u50 {
  position:absolute;
  left:15px;
  top:16px;
  width:188px;
  word-wrap:break-word;
}
#u46_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u46_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:197px;
  height:61px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:51px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u52 {
  position:absolute;
  left:15px;
  top:16px;
  width:157px;
  word-wrap:break-word;
}
#u46_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u46_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u54_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:150px;
  height:110px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u55 {
  position:absolute;
  left:30px;
  top:42px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u56 {
  position:absolute;
  left:0px;
  top:53px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u57 {
  position:absolute;
  left:15px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u58 {
  position:absolute;
  left:45px;
  top:11px;
  width:50px;
  height:50px;
}
#u59 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
