body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:390px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5971 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5972 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u5973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5973 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  color:#FFFFFF;
  text-align:left;
}
#u5973_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5973.mouseDown {
}
#u5974 {
  position:absolute;
  left:20px;
  top:14px;
  width:78px;
  word-wrap:break-word;
}
#u5975 {
  position:absolute;
  left:375px;
  top:0px;
  width:15px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5976 {
  position:absolute;
  left:330px;
  top:8px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u5977 {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
.u5979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
.u5979 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
.u5980 {
  position:absolute;
  left:20px;
  top:23px;
  width:320px;
  word-wrap:break-word;
}
.u5981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
.u5981 {
  position:absolute;
  left:345px;
  top:26px;
  width:10px;
  height:17px;
}
.u5982 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
.u5983 {
  position:absolute;
  left:20px;
  top:10px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
.u5984 {
  position:absolute;
  left:0px;
  top:15px;
  width:50px;
  word-wrap:break-word;
}
.u5985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u5985 {
  position:absolute;
  left:90px;
  top:14px;
  width:29px;
  height:16px;
}
.u5986 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u5987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
.u5987 {
  position:absolute;
  left:90px;
  top:40px;
  width:125px;
  height:16px;
  font-size:13px;
  color:#999999;
}
.u5988 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
.u5989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#199ED8;
  text-align:center;
}
.u5989 {
  position:absolute;
  left:117px;
  top:7px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#199ED8;
  text-align:center;
}
.u5990 {
  position:absolute;
  left:0px;
  top:6px;
  width:30px;
  word-wrap:break-word;
}
#u5978-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
}
#u5978-2 {
  position:absolute;
  left:0px;
  top:70px;
  width:375px;
  height:70px;
}
#u5978-3 {
  position:absolute;
  left:0px;
  top:140px;
  width:375px;
  height:70px;
}
#u5978-4 {
  position:absolute;
  left:0px;
  top:210px;
  width:375px;
  height:70px;
}
#u5978-5 {
  position:absolute;
  left:0px;
  top:280px;
  width:375px;
  height:70px;
}
#u5978-6 {
  position:absolute;
  left:0px;
  top:350px;
  width:375px;
  height:70px;
}
#u5978-7 {
  position:absolute;
  left:0px;
  top:420px;
  width:375px;
  height:70px;
}
#u5978 {
  position:absolute;
  left:0px;
  top:89px;
  width:375px;
  height:490px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u5991 {
  position:absolute;
  left:17px;
  top:55px;
  width:170px;
  height:28px;
}
#u5991_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5991_input:disabled {
  color:grayText;
}
#u5992 {
  position:absolute;
  left:189px;
  top:55px;
  width:170px;
  height:28px;
}
#u5992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5992_input:disabled {
  color:grayText;
}
#u5993 {
  position:absolute;
  left:0px;
  top:90px;
  width:375px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5994 {
  position:absolute;
  left:0px;
  top:159px;
  width:375px;
  height:69px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
