body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:390px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4017 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4018 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u4019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u4019 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  color:#FFFFFF;
  text-align:left;
}
#u4019_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u4019.mouseDown {
}
#u4020 {
  position:absolute;
  left:20px;
  top:14px;
  width:78px;
  word-wrap:break-word;
}
#u4021 {
  position:absolute;
  left:375px;
  top:0px;
  width:15px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
.u4023 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u4024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
.u4024 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:90px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
.u4025 {
  position:absolute;
  left:20px;
  top:37px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
.u4026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u4026 {
  position:absolute;
  left:23px;
  top:13px;
  width:113px;
  height:16px;
}
.u4027 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
.u4028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
.u4028 {
  position:absolute;
  left:23px;
  top:39px;
  width:130px;
  height:16px;
  font-size:13px;
  color:#999999;
}
.u4029 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
.u4030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
.u4030 {
  position:absolute;
  left:23px;
  top:64px;
  width:99px;
  height:15px;
  font-size:12px;
  color:#999999;
}
.u4031 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
.u4032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
.u4032 {
  position:absolute;
  left:286px;
  top:20px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  line-height:20px;
}
.u4033 {
  position:absolute;
  left:0px;
  top:15px;
  width:50px;
  word-wrap:break-word;
}
.u4034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
.u4034 {
  position:absolute;
  left:322px;
  top:52px;
  width:18px;
  height:18px;
  font-size:10px;
  color:#FFFFFF;
}
.u4035 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u4022-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:90px;
}
#u4022-2 {
  position:absolute;
  left:0px;
  top:90px;
  width:375px;
  height:90px;
}
#u4022-3 {
  position:absolute;
  left:0px;
  top:180px;
  width:375px;
  height:90px;
}
#u4022-4 {
  position:absolute;
  left:0px;
  top:270px;
  width:375px;
  height:90px;
}
#u4022-5 {
  position:absolute;
  left:0px;
  top:360px;
  width:375px;
  height:90px;
}
#u4022-6 {
  position:absolute;
  left:0px;
  top:450px;
  width:375px;
  height:90px;
}
#u4022-7 {
  position:absolute;
  left:0px;
  top:540px;
  width:375px;
  height:90px;
}
#u4022 {
  position:absolute;
  left:0px;
  top:41px;
  width:375px;
  height:630px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
