body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:390px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8126 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8127 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u8128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u8128 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  color:#FFFFFF;
  text-align:left;
}
#u8128_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u8128.mouseDown {
}
#u8129 {
  position:absolute;
  left:20px;
  top:14px;
  width:78px;
  word-wrap:break-word;
}
#u8130 {
  position:absolute;
  left:375px;
  top:0px;
  width:15px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:24px;
}
#u8131 {
  position:absolute;
  left:0px;
  top:45px;
  width:375px;
  height:75px;
  text-align:left;
  line-height:24px;
}
#u8132 {
  position:absolute;
  left:20px;
  top:10px;
  width:335px;
  word-wrap:break-word;
}
#u8133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u8133 {
  position:absolute;
  left:20px;
  top:139px;
  width:335px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u8134 {
  position:absolute;
  left:0px;
  top:3px;
  width:335px;
  word-wrap:break-word;
}
#u8135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:36px;
}
#u8135 {
  position:absolute;
  left:20px;
  top:179px;
  width:335px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:36px;
}
#u8136 {
  position:absolute;
  left:30px;
  top:17px;
  width:275px;
  word-wrap:break-word;
}
#u8137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:36px;
}
#u8137 {
  position:absolute;
  left:20px;
  top:251px;
  width:335px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:36px;
}
#u8138 {
  position:absolute;
  left:30px;
  top:17px;
  width:275px;
  word-wrap:break-word;
}
#u8139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u8139 {
  position:absolute;
  left:20px;
  top:322px;
  width:335px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u8140 {
  position:absolute;
  left:30px;
  top:17px;
  width:275px;
  word-wrap:break-word;
}
#u8141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u8141 {
  position:absolute;
  left:20px;
  top:394px;
  width:335px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:36px;
}
#u8142 {
  position:absolute;
  left:30px;
  top:17px;
  width:275px;
  word-wrap:break-word;
}
